@charset "utf-8";

/* **************************
  共通
************************** */



/* **************************
  header
************************** */
.hdr_wrap {
	background: #fff;
	margin-top: 20px;
}
.hdr_inr {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
}
.hdr_logo a:hover {
	opacity: 0.6;
}
.hdr_menu ul {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
.hdr_menu li {
	margin-right: 10px;
}
.hdr_menu li:last-child {
	margin-right: 0;
}
.hdr_menu a {
	position: relative;
	background: #333;
	color: #fff;
	font-size: 15px;
	padding: 15px 20px;
}
.hdr_menu a:after {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 7px;
	float: right;
	content: "";
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #ee4f16;
}
.hdr_menu a:hover {
	background: #e60012;
}
.hdr_menu a:hover:after {
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff100;
}

/* グローバルナビ */
.hdr_nav {
	width: 1000px;
	margin: 30px auto 0;
}
.hdr_nav ul {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
}
.hdr_nav li {
	border-left: 2px solid #ccc;
}
.hdr_nav li:hover {
	opacity: 0.6;
}

.hdr_nav li:last-child {
	border-right: 2px solid #ccc;
}
.hdr_nav li:before {
	content: "";
	display: inline-block;
	float: left;
	margin: 10px 9px 0 19px;
}
.hdr_nav .hdr_nav_corporate:before {
	background: url(../images/nav_icon01.png) no-repeat;
	background-size: 18px 22px;
	width: 18px;
	height: 22px;
}
.hdr_nav .hdr_nav_franchise:before {
	background: url(../images/nav_icon02.png) no-repeat;
	background-size: 25px 21px;
	width: 25px;
	height: 21px;
}
.hdr_nav .hdr_nav_system:before {
	background: url(../images/nav_icon03.png) no-repeat;
	background-size: 21px 21px;
	width: 21px;
	height: 21px;
}
.hdr_nav .hdr_nav_store:before {
	background: url(../images/nav_icon04.png) no-repeat;
	background-size: 22px 20px;
	width: 22px;
	height: 20px;
}
.hdr_nav .hdr_nav_recruit:before {
	background: url(../images/nav_icon05.png) no-repeat;
	background-size: 15px 18px;
	width: 15px;
	height: 18px;
}
.hdr_nav .hdr_nav_csr:before {
	background: url(../images/nav_icon06.png) no-repeat;
	background-size: 21px 21px;
	width: 21px;
	height: 21px;
}
.hdr_nav a {
	color: #333;
	font-size: 16px;
	float: right;
	padding: 5px 20px 0 0;
}
.hdr_nav span {
	line-height: 1.3;
	display: block;
}
.hdr_nav .hdr_nav_txt {
	font-size: 11px;
}


/* **************************
  パンくずリスト
************************** */
.breadcrumb {
	line-height: 1;
}
.breadcrumb ul {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
.breadcrumb li:after {
	content: ">";
	font-size: 12px;
	display: inline-block;
	margin: 0 6px;
}
.breadcrumb li:last-child:after {
	display: none;
}

.breadcrumb a {
	font-size: 11px;
}



/* main_visual(トップページ) */
#top_page #main_visual {
	position: relative;
	background: url(../images/main_img.jpg) no-repeat;
	height: 0;
	padding-top: 30%;
	background-size: contain;
	border-top: 3px solid #e60012;
	margin-top: 23px;
}
#top_page #main_visual p {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 30px;
	font-size: 27px;
	color: rgb(255, 255, 255);
	line-height: 1.65;
	text-shadow: 0px 2px 0px rgba(153, 153, 153, 0.75);
	-moz-transform: matrix( 0.72330657799245,0,0,0.72131331864918,0,0);
	-webkit-transform: matrix( 0.72330657799245,0,0,0.72131331864918,0,0);
	-ms-transform: matrix( 0.72330657799245,0,0,0.72131331864918,0,0);
}


/* main_visual(共通) */
#corporate_page #main_visual,
#franchise_page #main_visual {
	position: relative;
	height: 0;
	padding-top: 16%;
	border-top: 3px solid #e60012;
	margin-top: 23px;
}
#corporate_page .main_visual_inr,
#franchise_page .main_visual_inr {
	position: absolute;
	width: 1000px;
	height: 200px;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#corporate_page #main_visual h2,
#franchise_page #main_visual h2 {
	font-size: 30px;
	font-weight: bold;
	color: #333333;
	position: absolute;
	width: 100%;
	text-align: left;
	top: 60px;
}
#corporate_page #main_visual span,
#franchise_page #main_visual span {
	display: inline-block;
	font-size: 14px;
	margin-left: 14px;
}


/* main_visual(企業情報) */
#corporate_page #main_visual {
	background: url(../images/corporate/main_img.jpg) no-repeat;
	background-size: contain;
}

/* main_visual(フランチャイズ) */
#franchise_page #main_visual {
	background: url(../images/franchise/main_img.jpg) no-repeat;
	background-size: contain;
}





/* **************************
  トップページ
************************** */

/* contents */
#contents {
	background: #eee;
	padding-bottom: 50px;
}
.cont_inr {
	width: 1000px;
	margin: 0 auto;
	padding-top: 34px;
}
.secondary {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
.secondary p {
	font-size: 14px;
	color: #333;
}
.cont_ttl {
	text-align: center;
	color: #333;
	font-size: 23px;
	margin-bottom: 30px;
}

/* 活動概要 */
.cont_article_wrap,
.cont_article dt,
.cont_news dt {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
.cont_article {
	width: 495px;
	background: #fff;
	margin-right: 10px;
	padding: 20px;
}
.cont_article:last-child {
	margin-right: 0;
}
.cont_article_wrap .cont_article_ttl {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.cont_article_wrap .cont_article_ttl h3 {
	font-size: 17px;
	color: #333;
	font-weight: bold;
}
.cont_dtl_lnk {
	color: #fff;
	position: relative;
	padding-left: 9px;
	padding-right: 20px;
	line-height: 29px;
	text-align: center;
	font-size: 14px;
	background: #333;
}
.cont_dtl_lnk:after {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 6px;
	float: right;
	content: "";
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #ee4f16;
}
.cont_article_wrap .cont_article_cont {
	margin-top: 15px;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
.cont_article_img {
	margin-right: 15px;
}
.cont_article_txt {
	color: #333;
	font-size: 14px;
}


/* ニュース */
.cont_news {
	width: 1000px;
	background: #fff;
	padding: 20px;
	margin-top: 25px;
	box-sizing: border-box;
}
.cont_news_wrap .cont_news_ttl {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.cont_news_wrap .cont_news_ttl h3 {
	font-size: 17px;
	color: #333;
	font-weight: bold;
}
.cont_news_wrap li {
	padding-top: 10px;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
.cont_news_date {
	width: 75px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-right: 30px;
}
.cont_news_lnk {
	line-height: 20px;
	text-decoration: underline;
	font-size: 14px;
	color: #333;
}

/* ニュースアイコン */
.cont_news_wrap li span {
	margin-left: 5px;
	color:#fff;
	height: 20px;
	box-sizing: border-box;
	font-size: 12px;
	padding: 1px 3px;
}
.cont_news_lnk-web {
	background: #2649b9;
	border-radius: 5px;
}
.cont_news_lnk-youtube {
	background: #f00;
	border-radius: 5px;
}
.cont_news_lnk-pdf {
	background: #a21918;
	border-radius: 5px;
}



/* insmart system */
.cont_insmart_wrap {
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
}
.cont_insmart_wrap a:hover {
	opacity: 0.6;
}
.cont_insmart_wrap span {
	position: absolute;
	bottom: 30px;
	right: 0;
	color: #fff;
	padding-left: 9px;
	padding-right: 20px;
	line-height: 29px;
	text-align: center;
	font-size: 14px;
	background: #333;
}
.cont_insmart_wrap span:after {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 6px;
	float: right;
	content: "";
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #ee4f16;
}



/* 下層ページのコンテンツ部分(トップ以外) */
.article_cst_wrap {
	width: 770px;
	padding: 30px;
	background: #fff;
	border-top: 3px solid #e60012;
}
.article_cst {
	margin-top: 30px;
}
.article_cst:first-child {
	margin-top: 0;
}
.article_cst h3 {
	text-align: center;
	font-size: 28px;
	color: #e60012;
	margin-bottom: 30px;
}
.article_cst h3:after {
	content: "";
	display: block;
	background: url(../images/artcle_arrow.png) no-repeat;
	background-size: 54px 10px;
	width: 54px;
	height: 10px;
	margin: 10px auto 0;
}
.article_cst h4 {
	font-size: 20px;
	color: #333;
	padding: 10px 0 10px 20px;
	background: #eee;
	border-left: 4px solid #f00;
	border-bottom: 1px solid #ccc;
}


/* サイドメニュー(下層) */
.side_menu {
	width: 200px;
	height: 100%;
	background: #fff;
	margin-right: 30px;
}
.side_menu li {
	border-bottom: 1px solid #ccc;
}
.side_menu li:last-child {
	border-bottom: none;
}
.side_menu a {
	display: block;
	font-size: 14px;
	padding: 18px  8px 18px 21px;
	color: #333;
}
.side_menu .side_menu-lnk:after {
	content: "";
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #ee4f16;
}
.side_menu a:hover {
	opacity: 0.6;
}
.side_menu .side_menu-lnk {
	font-weight: bold;
}

/* サイドメニュー（ページ内リンク） */
.side_page-lnk:after {
	content: "";
	display: block;
	float: right;
	margin-top: 7px;
	margin-right: 7px;
	width: 4px;
	height: 4px;
	border: 2px solid;
	border-color: transparent transparent #e60012 #e60012;
	transform: rotate(-135deg);
}



/* **************************
  footer
************************** */
.ftr_wrap {
	color: #fff;
	font-size: 10px;
	background: #333;
	padding: 20px 0 25px;
}
.ftr_wrap a {
	color: #fff;
}
.ftr_wrap a:hover {
	opacity: 0.6;
}
.ftr_inr {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
}
.ftr_menu ul {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
.ftr_menu li:after {
	content: "|";
	float: right;
	display: block;
	padding: 0 8px;
}
.ftr_menu li:last-child:after {
	display: none;
}



/* **************************
  企業情報
************************** */
#corporate_page .article_cst img {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
#corporate_page .article_cst span {
	text-align: center;
	display: block;
	padding-bottom: 30px;
	font-size: 20px;
}
#corporate_page .article_cst .article_cst_tbl {
	margin: 0 auto;
	border: 1px solid #ccc;
	border-collapse:collapse
}
#corporate_page .article_cst .article_cst_tbl tr {
	border-bottom: 1px solid #ccc;
}
#corporate_page .article_cst .article_cst_tbl th {
	width: 160px;
	color: #333;
	font-size: 14px;
	padding: 10px 0 10px 10px;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
}
#corporate_page .article_cst .article_cst_tbl td {
	color: #333;
	font-size: 14px;
	padding: 10px;
}


/* google map */
#corporate_page .article_map {
	border: 1px solid #ccc;
}
#corporate_page .article_map iframe {
	width: 710px;
	height: 255px;
}
#corporate_page .article_map-lnk {
	margin-top: 20px;
	text-align: right;
}
#corporate_page .article_map-lnk a {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	background: #333;
	padding: 15px 10px 15px 20px;
}
#corporate_page .article_map-lnk a:after {
	content: "";
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 7px;
	margin-left: 10px;
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #ee4f16;
}
#corporate_page .article_map-lnk a:hover {
	background: #e60012;
}
#corporate_page .article_map-lnk a:hover:after {
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff100;
}


/* 沿革 */
#corporate_page .article_cst_history_line {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	font-size: 13px;
	color:#333;
}
#corporate_page .article_cst_history_year {
	margin-right: 20px;
}
#corporate_page .article_cst_history_block dl {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-around;
}
#corporate_page .article_cst_history_block dt {
	width: 40px;
	text-align: right;
	font-weight: bold;
	margin-right: 20px;
}
#corporate_page .article_cst_history_block dd {
	width: 550px;
}





/* **************************
  フランチャイズ
************************** */
#franchise_page .article_block {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	margin-top: 30px;
	padding: 20px;
	border: 2px solid #ccc;
}
#franchise_page .article_block:first-child {
	margin-top: 0;
}
#franchise_page .article_img {
	margin-right: 15px;
}
#franchise_page .article_txt {
	width: 100%;
	font-size: 14px;
}
#franchise_page .article_txt dt {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-bottom: 5px;
}
#franchise_page .article_txt_ttl {
	display: block;
	font-size: 17px;
}


/* 加盟店募集 */
#franchise_page .article_lnk_list {
	width: 540px;
	margin: 0 auto;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
#franchise_page .article_lnk_item a {
	display: inline-block;
	margin-right: 30px;
	border: 2px solid #ccc;
	padding: 10px 20px;
	font-size: 15px;
	color: #333;
}
#franchise_page .article_lnk_item:last-child a {
	margin-right: 0;
}
#franchise_page .article_lnk_item a:after {
	display: block;
	content: "";
	text-align: center;
	width: 4px;
	height: 4px;
	margin: 0 auto;
	border: 2px solid;
	border-color: transparent transparent #e60012 #e60012;
	transform: rotate(-45deg);
}

/* 各ページのリンクボタン */
#franchise_page .article_btn_wrap {
	text-align: center;
}
#franchise_page .article_btn {
	display: inline-block;
	padding: 15px 10px 15px 20px;
	margin-top: 30px;
	background: #333;
	font-size: 15px;
	color: #fff;
}
#franchise_page .article_btn:after {
	content: "";
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 7px;
	border-top: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 8px solid #ee4f16;
	margin-left: 10px;
}
#franchise_page .article_btn:hover {
	opacity: 0.7;
}


/* セミナー告知 */
#franchise_page .article_seminar_table_wrap {
	border: 1px solid #ccc;
	margin-top: 30px;
}

#franchise_page .article_seminar_table_wrap th {
	padding: 7px 0;
	text-align: center;
	background: #758192;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	vertical-align: middle;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
#franchise_page .article_seminar_table_wrap th:first-child {
	width: 95px;
}
#franchise_page .article_seminar_table_wrap th:nth-child(2) {
	width: 160px;
}
#franchise_page .article_seminar_table_wrap th:nth-child(3) {
	width: 380px;
}
#franchise_page .article_seminar_table_wrap th:nth-child(4) {
	width: 74px;
	border-right: none;
}
#franchise_page .article_seminar_table_wrap td {
	font-size: 14px;
	color: #333;
	vertical-align: middle;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 9px;
	box-sizing: border-box;
}
#franchise_page .article_seminar_table_wrap td:last-child {
	text-align: center;
	letter-spacing: -0.8px;
	color: #e60012;
	border-right: none;
}
#franchise_page .article_seminar_table_wrap tr:last-child td {
	border-bottom: none;
}
#franchise_page .article_seminar_table_wrap .article_seminar_table-maplink {
	float: right;
	margin-top: 10px;
	padding: 0 10px;
	display: inline-block;
	background: #333;
	color: #fff;
}
#franchise_page .article_seminar_table_wrap .article_seminar_table-link {
	text-decoration: underline;
	display: block;
}




/* セミナー会議室除法 */
#franchise_page .article_seminar_info_wrap dl {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
#franchise_page .article_seminar_info_wrap li:first-child dl {
	margin-top: 20px;
}
#franchise_page .article_seminar_info_wrap dt,
#franchise_page .article_seminar_info_wrap dd {
	font-size: 14px;
	color: #333;
}
#franchise_page .article_seminar_info_wrap dt {
	margin-right: 20px;
}
#franchise_page .article_seminar_info_wrap span {
	display: inline-block;
	background: #a21918;
	border-radius: 6px;
	padding: 0 5px;
	color: #fff;
	margin-left: 10px;
}
#franchise_page .article_btn_wrap .article_btn-seminar_info {
	display: inline-block;
	margin-top: 30px;
	padding: 6px 15px 6px 10px;
	border: 2px solid #cbcbcb;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	font-weight: bold;
}


#franchise_page .article_btn_wrap .more_btn:before {
	content:'\f067';
	font-family: "Font Awesome 5 Free";
	font-size: 12px;
	margin-right: 10px;
	color: #f00;
}
#franchise_page .article_btn_wrap .close_btn:before {
	content:'\f068';
	font-family: "Font Awesome 5 Free";
	font-size: 12px;
	margin-right: 10px;
	color: #f00;
}




/* 出店までの流れ */
#franchise_page .article_seminar_flow_wrap {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 50px;
}
#franchise_page .article_seminar_flow_block {
	width: 160px;
	border: 1px solid #cbcbcb;
	box-sizing: border-box;
	position: relative;
}
#franchise_page .article_seminar_flow_block:after {
	content: "";
	position: absolute;
	right: -45px;
	top: 0;
	bottom: 0;
	margin-top: 60px;
	margin-bottom: auto;
	display: block;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 12px solid #ee4f16;
}
#franchise_page .article_seminar_flow_block:last-child:after {
	display: none;
}
#franchise_page .article_seminar_flow_step_ttl {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	align-items: center;
	padding: 5px 10px 2px;
	font-size: 15px;
	color: #fff;
	background: #758192;
}
#franchise_page .article_seminar_flow_step_ttl p {
	color: #fff;
	font-size: 15px;
	margin-right: auto;
	margin-left: auto;
}
#franchise_page .article_seminar_flow_block .article_seminar_flow_step_ttl {
	text-align: center;
}
#franchise_page .article_seminar_flow_block .article_seminar_flow_step_ttl span {
	display: block;
	font-size: 15px;
}
#franchise_page .article_seminar_flow_block .article_seminar_flow_step_ttl span:first-child {
	font-size: 11px;
	margin-bottom: -5px;
}
#franchise_page .article_seminar_flow_step_txt_wrap {
	font-size: 14px;
	color: #333;
	padding: 10px;
}
#franchise_page .article_seminar_flow_step_txt_wrap li {
	padding-left: 1em;
	text-indent: -1em;
}





