@charset "utf-8";



.main_visual img {
	vertical-align: top;
	max-width: 100%;
}

.main_visual_inr {
	max-width: 100%;
	width: 1000px;
	margin: 0 auto;
}

.main_visual {
	background: #141c2f;
}

.main_visual[data-miraito-slide-index="1"] {
	background: #141c2f;
}

.main_visual[data-miraito-slide-index="2"] {
	background: #a5bec1;
}

.main_visual[data-miraito-slide-index="3"] {
	background: #3fb0e2;
}

.main_visual[data-miraito-slide-index="4"] {
	background: #fff url(../images/mv04_bg.png) center 3px repeat;
}

.main_visual .swiper-button-next {
	background-image: url(../images/button_next_2x.png);
	background-position: center right;
	background-size: 15px auto;
	right: 5px;
}

.main_visual .swiper-button-prev {
	background-image: url(../images/button_prev_2x.png);
	background-position: center left;
	background-size: 15px auto;
	left: 5px;
}

@media screen and (min-width: 992px) {

	.hdr_inr {
		position: relative;
		padding-left: 185px;
		box-sizing: border-box;
	}

	.hdr_logo {
		position: absolute;
		left: 0;
		top: 0;
	}

	.main_visual {
		clear: both;
		margin-bottom: -33px;
		/*transition: background-color 0.4s ease-in-out;*/
		/*
		transition-property: background-color;
		transition-duration: .4s;
		-webkit-transition-timing-function : cubic-bezier(0.645, 0.045, 0.355, 1);
			-o-transition-timing-function : cubic-bezier(0.645, 0.045, 0.355, 1);
				transition-timing-function : cubic-bezier(0.645, 0.045, 0.355, 1);*/
	}

	.main_visual.slider_on_init {
		transition: background-color 0.4s;
	}

	.main_visual .swiper-button-next {
		background-position: center;
		background-size: 20px 41px;
		right: 10px;
	}
	
	.main_visual .swiper-button-prev {
		background-position: center;
		background-size: 20px 41px;
		left: 10px;
	}

}

