@charset "utf-8";

.hdr_inr {
	position: relative;
	padding-left: 185px;
	box-sizing: border-box;
}

.hdr_logo {
	position: absolute;
	left: 0;
	top: 0;
}

.main_visual {
	clear: both;
	margin-bottom: -40px;
	transition: background-color 0.4s;
	/*transition: background-color 0.4s ease-in-out;*/
	/*
	transition-property: background-color;
	transition-duration: .4s;
	-webkit-transition-timing-function : cubic-bezier(0.645, 0.045, 0.355, 1);
         -o-transition-timing-function : cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-timing-function : cubic-bezier(0.645, 0.045, 0.355, 1);*/
}

.main_visual img {
	vertical-align: top;
}

.main_visual_inr {
	max-width: 100%;
	width: 1000px;
	margin: 0 auto;
}

.main_visual[data-miraito-slide-index="1"] {
	background: #141c2f;
}

.main_visual[data-miraito-slide-index="2"] {
	background: #a5bec1;
}

.main_visual[data-miraito-slide-index="3"] {
	background: #3fb0e2;
}

.main_visual[data-miraito-slide-index="4"] {
	background: #fff url(../images/mv04_bg.png) center 3px repeat;
}

.main_visual[data-miraito-slide-index="5"] {
	background: #141c2f;
}

.main_visual[data-miraito-slide-index="6"] {
	background: #a5bec1;
}

.main_visual .swiper-button-next {
	background-image: url(../images/button_next_2x.png);
	background-size: 20px 41px;
}

.main_visual .swiper-button-prev {
	background-image: url(../images/button_prev_2x.png);
	background-size: 20px 41px;
}